a {
  text-decoration: none
}

footer,
header,
nav,
section {
  display: block
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.6em
}

a {
  color: #0085bd;
  text-decoration: none
}

a:hover {
  color: #60a5dd
}

a:focus {
  outline: thin dotted
}

a:hover,
a:active {
  outline: 0
}

p {
  margin: 0 0 1em 0
}

ul {
  margin: 1em 0;
  padding: 0 0 0 40px
}

nav ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0
}

.clear:before,
.clear:after {
  content: "";
  display: table
}

.clear:after {
  clear: both
}

.clear {
  zoom: 1
}

.clear:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: "."
}

.site-row {
  width: auto !important
}

.site-row:before,
.site-row:after {
  content: "";
  display: table
}

.site-row:after {
  clear: both
}

[class*=site-col] {
  float: left
}

[class*=site-col] .site-block {
  padding-left: 17px;
  padding-right: 17px
}

[class*=site-col]:last-child {
  padding-right: 0
}

.site-col-12 {
  width: 100%
}

.site-layout>.site-row {
  margin-left: -17px;
  margin-right: -17px
}

.site-block {
  position: relative;
  height: auto;
  padding-top: 17px;
  padding-bottom: 17px;
  outline: none;
  box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0);
  -webkit-transition: box-shadow .2s ease-in-out;
  -moz-transition: box-shadow .2s ease-in-out;
  -o-transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out
}

.site-block-html {
  clear: none
}

.site-block-html .site-block-content {
  outline: none
}

.site-block-html .site-block-content *:not(h1):not(h2):not(h3) {
  word-wrap: break-word
}

.site-block-html .site-block-content>*:first-child {
  margin-top: 0
}

.site-block-html .site-block-content>*:last-child {
  margin-bottom: 0
}

p[data-rte-preserve-empty]:empty::before {
  content: '';
  display: inline-block
}

li>*:first-child::before {
  white-space: pre
}

body {
  font-family: arial, sans-serif;
  font-weight: 400;
  font-family: "Georgia", "serif";
  line-height: 2.1em;
  text-transform: none;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  color: #666;
  font-size: 14px
}

a {
  color: #7996e6
}

a:hover {
  color: #666
}

h1 {
  font-family: arial, sans-serif;
  font-weight: 400;
  font-family: "Georgia", "serif";
  line-height: 1.4em;
  text-transform: none;
  letter-spacing: 0px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  color: #444;
  margin: 0 0 1em
}

h1 a:link,
h1 a:visited,
h1 a:hover {
  font-weight: normal
}

h1 {
  font-size: 27px
}

p {
  margin-bottom: 1em
}

.site-title-span {
  font-family: arial, tahoma, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-family: "Georgia", "serif";
  line-height: 1.2em;
  text-transform: capitalize;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  color: #444;
  display: block;
  font-size: 36px
}

.site-title-span:hover {
  color: #666
}

.nav {
  font-family: arial, sans-serif;
  font-weight: 600;
  font-family: "Arial", "Helvetica", "sans-serif";
  line-height: 1em;
  text-transform: none;
  letter-spacing: 0px;
  text-align: left;
  font-weight: normal;
  font-style: normal;
  font-size: 12px
}

#sidebar {
  color: #666
}

#footer {
  color: #666
}

body {
  background-image: none;
  background-position: top left;
  background-size: auto;
  background-attachment: scroll;
  background-repeat: repeat;
  background-color: #f9f9f9;
  padding-top: 40px
}

body #content {
  border-radius: 5px;
  box-shadow: inset 0 0 0 4px #e1e1e1;
  max-width: 650px;
  width: 100%;
  background-color: #fff;
  padding: 34px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box
}

.nav li:not(.folder) a {
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 15px 20px;
  display: block;
  color: #666
}

.nav li:not(.folder) a:hover {
  background-color: #444;
  color: #fff
}

#header {
  background-image: none;
  background-position: top left;
  background-size: auto;
  background-attachment: scroll;
  background-repeat: repeat;
  background-color: #f9f9f9;
  border-bottom: 3px solid #e1e1e1;
  display: none;
  padding-top: 40px;
  margin-bottom: 68px
}

#header>.wrapper {
  padding: 20px 0
}

#header .logo a {
  display: block
}

#header .logo h1 {
  margin-bottom: 0
}

#header .nav li {
  margin: 8px 6px 8px;
  display: inline-block
}

#sidebar {
  width: 225px;
  padding-bottom: 34px
}

#sidebar h1 {
  color: #666
}

#sidebar .logo {
  margin-bottom: 34px
}

#sidebar .nav {
  margin-bottom: 34px
}

#sidebar .nav li:not(.folder) {
  margin-bottom: 3px
}

#footer {
  padding: 68px 0
}

.site-title-position-sidebar #site {
  padding-top: 0
}

.site-title-position-sidebar #header .logo {
  display: none
}

.navigation-position-sidebar #header .nav {
  display: none
}

.sidebar-position-left #content {
  float: right
}

.sidebar-position-left #sidebar {
  float: left
}

.sidebar-position-left #header>.wrapper,
.sidebar-position-left #site>.wrapper {
  margin: 0 auto;
  max-width: 909px;
  padding: inherit 34px
}

body {
  -webkit-animation: bugfix infinite 1s
}

@-webkit-keyframes bugfix {
  from {
    margin: 0
  }

  to {
    margin: 0
  }
}

@media screen and (max-width:1100px) {

  .sidebar-position-left:not(.collection-type-blog) #content {
    width: 600px
  }

  .sidebar-position-left #header>.wrapper,
  .sidebar-position-left #site>.wrapper {
    width: 859px
  }

  .sidebar-position-left:not(.maintain-sidebar-width) #content {
    width: 600px
  }

  .sidebar-position-left:not(.maintain-sidebar-width) #header>.wrapper,
  .sidebar-position-left:not(.maintain-sidebar-width) #site>.wrapper {
    width: 854px
  }

  .sidebar-position-left:not(.maintain-sidebar-width) #sidebar {
    width: 220px
  }
}

@media screen and (max-width:900px) {

  .sidebar-position-left #content {
    width: 450px
  }

  .sidebar-position-left #header>.wrapper,
  .sidebar-position-left #site>.wrapper {
    width: 709px
  }

  .sidebar-position-left:not(.maintain-sidebar-width):not(.collection-type-blog) #content {
    width: 450px
  }

  .sidebar-position-left:not(.maintain-sidebar-width) #header>.wrapper,
  .sidebar-position-left:not(.maintain-sidebar-width) #site>.wrapper {
    width: 664px
  }

  .sidebar-position-left:not(.maintain-sidebar-width) #sidebar {
    width: 180px
  }
}

@media all and (max-width:640px) {
  .site-layout [class*=site-col] {
    float: none !important;
    width: auto !important
  }

  .site-layout .site-row .site-block:first-child {
    padding-top: 17px !important
  }

  .site-layout .site-row .site-block:last-child {
    padding-bottom: 17px !important
  }

  #header,
  #site,
  #site>.wrapper,
  #content,
  #footer {
    margin: 0;
    padding: 0;
    width: 100% !important
  }

  #header>.wrapper,
  #sidebar {
    padding: 40px;
    width: auto !important
  }

  #content,
  #sidebar {
    float: none !important
  }

  #header {
    display: block !important;
    border-bottom: 3px solid #f5f5f5
  }

  #header .logo {
    display: block !important;
    float: none !important
  }

  #header .logo h1 {
    text-align: center
  }

  .site-title-position-sidebar #header {
    background-color: transparent;
    background-image: none
  }

  body {
    padding-top: 0
  }

  #sidebar {
    border-top: 3px solid #f5f5f5
  }

  #sidebar .logo,
  #sidebar .nav {
    display: none !important
  }

  #header .nav,
  #sidebar .nav {
    display: none !important
  }
}